{% extends 'base.html' %}
{% load blog_extras %}
{% block content %}
    <h2>Photos</h2>

    <div class="grid-container">
        {% for blog in blogs %}
            <div class="photo">
                <a href="{% url 'view_blog' blog.id %}">
                    <h4>Billet n°{{blog.id}} : {{blog.title}}</h4>
                    <img src="{{blog.photo.image.url}}" alt="photo">
                    <p>{{photo.caption}}</p>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock content %}