{% load static %}

<html lang="fr">
    <head>
        <meta name="Autheur" content="Loïc Calcagno">
        <meta name="Description" content="Blog photo créer entièrement avec le framework Django">
        <title>Blog photo</title>
        <link rel="stylesheet" href="{% static 'app.css' %}">
        <link rel="icon" href="{% static 'favicon.png' %}">
    </head>
    <body>
    <div class="container">
        <div class="sidebar">
            <h1>Blog photo</h1>
            {% if user.is_authenticated %}
                <p>Hey, salut {{request.user}} ! </p>
                    {% if user.profile_photo %}
                        <img src="{{user.profile_photo.url}}" alt="avatar" class="avatar">
                    {% else %}
                        <img src="{% static 'avatar.png' %}" alt="avatar" class="avatar">
                    {% endif  %}
                <p class="p-anim"><a href="{% url 'home' %}">Acceuil</a></p>
                {% if perms.blog.add_photo %}
                    <p class="p-anim"><a href="{% url 'blog_create' %}">Ecrire un billet</a></p>
                {% endif %}

                {% if perms.blog.add_photo %}
                    <p class="p-anim"><a href="{% url 'photo_upload' %}">Télécharger une photo</a></p>
                {% endif %}
                {% if perms.blog.add_photo %}
                    <p class="p-anim"><a href="{% url 'create_multiple_photos' %}">Télécharger plusieurs photos</a></p>
                {% endif %}
                <p class="p-anim"><a href="{% url 'follow-users' %}">Suivre des utilisateurs</a></p>

                <p class="p-anim"><a href="{% url 'upload_profile_photo' %}">Changer la photo de profil</a></p>
                <p class="p-anim"><a href="{% url 'change_password' %}">Changer le mot de passe</a></p>
                {% if perms.blog.add_photo %}
                    <p class="p-anim"><a href="/admin">Partie administrative</a></p>
                {% endif %}
                <p class="p-del"><a href="{% url 'logout' %}"> Se déconnecter</a></p>
            {% endif %}
        </div>
        <div class="main">
            {% block content %}{% endblock content %}
            <p class="credit">Blog photo réalisé par <a href="https://github.com/CalcagnoLoic/blog_photo">@Loïc Calcagno</a> avec le framework Django</p>
        </div>
    </div>

    </body>
</html>